name: Déploiement Phoenix

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Début du déploiement
        run: echo "Début du déploiement"

      - name: Récupération du token de déploiement
        run: echo "DEPLOY_TOKEN=${{ secrets.DEPLOY_TOKEN }}"

      - name: Fin du déploiement
        run: echo "Déploiement terminé par MVELE NYOGOG SILVAN NELL BLAISE"